:root {
    --color-primary: #007bff; /* Azul primario */
    --color-secondary: #6c757d; /* Gris secundario */
    --color-background: #f8f9fa; /* Fondo */
    --color-text: #333; /* Texto principal */
  }